@{
    ViewBag.Title = "Index";
}

<div class="left-side">
    <div>
        @foreach (var l in ViewBag.Decription)
        {
            @l <br> 
        }
    </div>
</div>
<div class="right-side">
    <div>
        <ul> 
        @foreach (var t in ViewBag.Types)
        {
            <li>@t.Title  
        }
            </ul>
    </div>
</div>