
@{
    ViewBag.Title = "Index";
}


<div class="left-side">
    <div>
        @foreach (var l in ViewBag.Decription)
        {
            @l <br> 
        }
    </div>
</div>
<div class="right-side">
    <div>
        <ul> 
            <li>@Html.ActionLink("Все квесты","List_Of_Quests","Home")</li>
        @foreach (var t in ViewData["Types"] as IEnumerable<Queste.Models.TypeOfQuest>)
        {
            <li>@Html.ActionLink(Convert.ToString(t.Title), "List_Of_Quests2", "Home", new {Condition = t.Title},null)</li>
        }
            </ul>
    </div>
</div>



