body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
   text-decoration-color:white;
    color: #232323;
    background-color: darkslategrey;
}

footer, nav, section {
    display: block;
}

header{
display:table;
width:100%;
background-color:slategrey;


}
    header div {
    float:left;
    width:50%;
    }


    header div div {
      margin-top:10px;
    margin-right:10px;  
    float:right;
    display:inline-block;
    width:auto;
    font-size:x-large;
    font-family:'Bookman Old Style';
    vertical-align:bottom;
    
    }
div.left-header h1 {
padding-left:20px;
font-family:'Bookman Old Style';

}
table {
width:100%;
}
td div {
    vertical-align:central;
    display:inline-block;
    width:auto;
    float:right;
    margin-left:10px;
    width:auto;

}
td div div {
vertical-align:middle;
width:auto;
float:left;
margin-left:10px;
width:auto;
font-size:x-large;
font-style:normal;
}

input.button {
font-size:x-large;
width:auto;
padding:5px;
font-family:'Bookman Old Style';
font-style:normal;
}

div {
word-wrap:normal;
text-align:center;
}

.logo {
float:left;
font-size:medium;
}
.left-side {
float:left;
width:60%;
}

div.left-side div {
background-color:grey;
font-size:xx-large;
width:100%;
margin-left:5%;
margin-top:10px;
text-align:center;
padding:20px;
}

.right-side {
float:right;
width:30%;
}

div.right-side div {
text-align:center;
font-size:xx-large;
width:100%;
background-color:dimgray;

}

div.central-side{
    width:90%;
    margin-left:5%;
    
    background-color:white;
}
    div.central-side table {
    border:solid black 3px;
    
    }

table tr th {
    text-align:center;
font-size:xx-large;
font-family:'Bookman Old Style';
}

table tr td {
text-align:center;
font-size:x-large;
font-family:'Bookman Old Style';
}

.event-block {
margin:5px;
}

table.table {
width:20%;
border:10px;
border-color:red;
}

.up-box {
margin-top:5%;
margin-left:10%;
margin-right:10%;

height:100%;
background-color:black;
}

.low-box {
    margin-top:60%%;
margin-left:10%;
margin-right:10%;

height:100px;
background-color:black;
}



.button {
    margin:auto;
    padding:inherit;
    height:100%;
    width:100%;
    font-style:italic;
    border-style:hidden;
    background:no-repeat;
    background-position:center;
    background-image:url(themes/base/images/ball.png) ;
    
}

h1 {
    text-align:left;
    font-size:60px;
}

h3 {
text-align:center;
color:red;
font-size:x-large;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}


.editor-label {
    margin:20px;
    font-size:x-large;
}

.editor-field {
    margin: 0.5em 0 0 0;
    font-size:x-large;
    height:auto;
    margin:20px;
}

input[type=text] {
height:auto;
width:40%;
font-size:x-large;
}
input[type=email] {
height:auto;
width:40%;
font-size:x-large;
}
input[type=password] {
height:auto;
width:40%;
font-size:x-large;
}

input[type=submit] {
    font-size:x-large;
    height:auto;
}
select {
    text-align:center;
    align-content:center;
    align-items:center;
    height:auto;
    width:40%;
font-size:x-large;
}
textarea {
    height:auto;
    width:40%;
font-size:x-large;
min-height:30px;

}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
